.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

/* GRID CONTAINER */
div.container {
  height: 100dvh;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 200px 200px 200px 1fr;
}